body{
    margin: 0;
}

#banner{
    width: 100%;
    margin-top: -20%;
}

.navbar{
    margin-bottom: 2em;
    background-color: #5c5042;
}

.navbar>a{
    color: white;
}
.navbar>div>a{
    color: white;
}
.navbar>div>ul>li>a{
    color: white;
}


#loginCard{
    margin: 0 auto;
}

.custom-select{
    margin-bottom: 1.5em;
    /* width: 20% !important; */
}

.optionRegion{
    font-weight: bolder;
    font-size: larger;
}

.optionProvince {
    font-weight: bold;
    font-size: large;
}

.optionVille {
    padding-left: 1.5em;
    font-size: medium;
}

.inputError{
    color: rgb(167, 1, 1);
    font-weight: bold;
}